3_xslt/MancalaGame.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT MancalaGame (Player, Player, PlayerOnTurn) >

<!ELEMENT Player (Name, WinCount, PlayersHalf, SeedCount)>
<!ELEMENT Name (#PCDATA) >
<!ELEMENT WinCount (#PCDATA) >
<!ELEMENT SeedCount (#PCDATA) >

<!ELEMENT PlayersHalf (Kalah, House, House, House, House, House, House) >
<!ELEMENT Kalah (SeedCount)>
<!ELEMENT House (SeedCount)>

<!ELEMENT PlayerOnTurn (#PCDATA) >