mancala/Uebungsblatt3/MancalaDTD.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT Mancalaboard (Spieler, Spieler) >

<!ELEMENT Spieler (Name, AnzGewinne, IstAmZug, AnzSteine, Spielfeld)>

<!ELEMENT Name (#PCDATA) >
<!ELEMENT AnzGewinne (#PCDATA) >
<!ELEMENT IstAmZug (#PCDATA) >
<!ELEMENT AnzSteine (#PCDATA) >
<!ELEMENT Spielfeld (Kalaha,(Mulde)+) >
<!ELEMENT Kalaha (AnzSteine) >
<!ELEMENT Mulde (AnzSteine)>